{% extends '_base.html' %}

<title>{% block title %}Home{% endblock %}</title>
    
{% block content %}
    <h1>HomePage</h1>

    {% if user.is_authenticated %}
        <p>Hi, {{ user.email }}</p>
        <p>You can logout by clicking this button</p>
        <a href="{% url 'account_logout' %}"><button class="btn btn-outline-danger">Logout</button></a>
    {% else %}
        <p>You are logged out</p>
        <a href="{% url 'account_login' %}"><button class="btn btn-outline-primary">Login</button></a>
        <a href="{% url 'account_signup' %}"><button class="btn btn-outline-secondary">Signup</button></a>
    {% endif %}

{% endblock content %}
